# Exploratory analysis of the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn as sns
import re

data_path = "data/nyc_clean.csv"

D:\Anaconda3\envs\data-analysis-env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\Anaconda3\envs\data-analysis-env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\Anaconda3\envs\data-analysis-env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\Anaconda3\envs\data-analysis-env\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
nyc_data = pd.read_csv(data_path)
pd.options.display.max_columns = 30 #to see all the columns
nyc_data.head(5)

,unique_key,date,time,borough,zip,location,on_street,cross_street,off_street,pedestrians_injured,cyclist_injured,motorist_injured,total_injured,pedestrians_killed,cyclist_killed,motorist_killed,total_killed,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5,cause_vehicle_1,cause_vehicle_2,cause_vehicle_3,cause_vehicle_4,cause_vehicle_5
0,3963695,08/19/2018,0:40,BROOKLYN,11236.0,"40.622414, -73.896484",BELT PARKWAY,UNSPECIFIED,UNSPECIFIED,0,0,0,0,0,0,0,0,SUV/STATION WAGON,SUV/STATION WAGON,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED
1,3859433,03/08/2018,13:00,QUEENS,11432.0,"40.720165, -73.79902",168 STREET,GOETHALS AVENUE,UNSPECIFIED,0,0,0,0,0,0,0,0,PASSENGER VEHICLE,PASSENGER VEHICLE,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED,UNSPECIFIED,UNSPECIFIED,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED
2,4028471,11/11/2018,15:40,BRONX,10465.0,"40.827282, -73.83017",HUNTINGTON AVENUE,LAFAYETTE AVENUE,UNSPECIFIED,0,0,0,0,0,0,0,0,SEDAN,SUV/STATION WAGON,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED,BACKING UNSAFELY,UNSPECIFIED,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED
3,4028778,11/16/2018,22:00,BROOKLYN,11237.0,"40.699936, -73.91181",WYCKOFF AVENUE,UNSPECIFIED,UNSPECIFIED,0,0,0,0,0,0,0,0,DUMP,SEDAN,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED,DRIVER INATTENTION/DISTRACTION,UNSPECIFIED,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED
4,3821653,01/03/2018,13:05,BRONX,10458.0,"40.85569, -73.881035",UNSPECIFIED,UNSPECIFIED,2475 SOUTHERN BOULEVARD,0,0,0,0,0,0,0,0,PASSENGER VEHICLE,VAN,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED,DRIVER INATTENTION/DISTRACTION,DRIVER INATTENTION/DISTRACTION,NOT INVOLVED,NOT INVOLVED,NOT INVOLVED